.root{
    background-image: linear-gradient(to right,rgba(218, 216, 216, 0.818), rgba(197, 197, 197, 0.744),rgba(218, 218, 218, 0.744), rgba(197, 197, 197, 0.744));
}
.lgcard {
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px 10px #e7e8ea, -5px -10px 10px white;
    width: 400px;
    left: 200px;
  }

.rgscard {
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px 10px #e7e8e9, -5px -10px 10px white;
    width: 600px;
    left: 200px;
  }

.allcards .card-body input {
    background:#edebeb88;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }

.allcards .card-body input:hover{
    height: 58px;
    transition: 0.5s;
}

.allcards .card-body input:focus{
  background:#fbffffc7;
}

.allcards .card-body input:invalid{
  background: red;
}
  
.allcards .card-body button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
.allcards .card-body button:hover {
    box-shadow: none;
  }

.allcards h5{
    color: black;
}

.allcards label{
    color: black;
}


  